@charset "utf-8";
body,
input {
  font: 14px/30px Microsoft Yahei;
}
.login_head {
  float: left;
  width: 100%;
  background: #fff;
  height: 68px;
  line-height: 68px;
  display: inline-block;
}
.login_head span {
  height: 28px;
  vertical-align: middle;
  color: #5c6066;
  font-size: 24px;
  border-left: 1px solid #d9d9d9;
  padding-left: 22px;
  margin-left: 22px;
}
.login_head img {
  vertical-align: middle;
}
.login_head a {
  color: #ff6639;
}
.depositreg {
  float: left;
  width: 100%;
  background: #fff;
  margin: 20px 0;
  padding-bottom: 60px;
  min-height: 550px;
}
.depositreg .regtitle {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.depositreg .regtitle img {
  margin-bottom: 40px;
}
.depositreg table {
  width: 100%;
  margin-top: 30px;
}
.depositreg table th {
  text-align: right;
  font-weight: normal;
  padding: 10px 15px 10px 0;
}
.depositreg table td {
  padding: 10px 15px 10px 0;
}
.depositreg .yhkh input {
  width: 322px;
}
.depositreg .yhkh a {
  color: #ffa001;
  margin-left: 10px;
}
.depositreg input {
  vertical-align: middle;
}
.result {
  text-align: center;
  width: 100%;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-top: 90px;
}
.result h2 {
  color: #ff6639;
  font-size: 24px;
  font-weight: normal;
}
.result p {
  margin-bottom: 70px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 100%;
}
.result a {
  width: 300px;
  margin-bottom: 15px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
