@charset "utf-8";
body,
input {
  font: 14px/30px Microsoft Yahei;
}
.mt20 {
  margin-top: 20px;
}
.fullSlide {
  width: 100%;
  position: relative;
  height: 360px;
  background: #000;
  z-index: 1;
}
.fullSlide .bd {
  margin: 0 auto;
  width: 100%;
  height: 360px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.fullSlide .bd ul {
  width: 100% !important;
}
.fullSlide .bd li {
  width: 100% !important;
  height: 360px;
  overflow: hidden;
  text-align: center;
}
.fullSlide .bd li a {
  display: block;
  height: 360px;
}
.fullSlide .hd {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
}
.fullSlide .hd ul {
  text-align: center;
}
.fullSlide .hd ul li {
  cursor: pointer;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 40px;
  height: 5px;
  margin: 1px;
  overflow: hidden;
  background: #fff;
  line-height: 999px;
}
.fullSlide .hd ul .on {
  background: #aeaeae;
}
.fullSlide .prev,
.fullSlide .next {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 5%;
  z-index: 1;
  width: 23px;
  height: 76px;
  background: url(../images/ico_set.png) -161px 0 no-repeat;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
  display: none;
}
.fullSlide .next {
  left: auto;
  right: 5%;
  background-position: -186px 0;
}
.index_login_box {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.index_login_box .index_login {
  background: #fff;
  position: absolute;
  right: 0;
  top: -310px;
  width: 233px;
  height: 220px;
  padding: 20px;
  z-index: 1;
}
.index_login_box .index_login .il_tit {
  color: #333;
  margin-top: 15px;
}
.index_login_box .index_login .il_tit b {
  color: #06b5ff;
  font-size: 24px;
  font-weight: normal;
}
.index_login_box .index_login .il_tit a {
  color: #7485DE;
}
.index_login_box .index_login .il_info {
  position: absolute;
  top: 75px;
  width: 218px;
  padding-left: 15px;
}
.index_login_box .index_login .il_info .eyes {
  background: url(../images/eye.png);
  width: 17px;
  height: 12px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-left: 5px;
  cursor: pointer;
}
.index_login_box .index_login .il_info .eyes.co {
  background-position: 0 -14px;
}
.index_login_box .index_login .il_info span {
  float: left;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
  color: #333333;
}
.index_login_box .index_login .il_info span b {
  color: #ff6639;
  font-size: 20px;
  font-weight: normal;
}
.index_login_box .index_login .il_info span em {
  color: #ff6639;
}
.index_login_box .index_login .il_info .spc {
  width: 99px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}
.index_login_box .index_login .il_btn {
  position: absolute;
  top: 160px;
  width: 233px;
  text-align: center;
}
.index_login_box .index_login .il_btn .btn {
  background: #ff6639;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
}
.index_login_box .index_login .il_btn .btn:hover {
  background: #ff774f;
}
.index_login_box .index_login .il_btn p {
  font-size: 12px;
  color: #666;
  line-height: 32px;
}
.index_login_box .index_login .il_btn p a {
  color: #7485de;
  text-decoration: underline;
}
.index_login_box .index_login .il_tit2 {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 9px;
}
.index_login_box .index_login .il_info2 {
  font-size: 16px;
  color: #666666;
  margin-top: 27px;
  text-align: center;
  line-height: 44px;
}
.index_login_box .index_login .il_info2 b {
  font-size: 24px;
  font-weight: normal;
}
.index_login_box .index_login .il_info2 em {
  color: #ff6639;
}
.index_login_box .index_login .il_btn2 {
  top: 160px;
}
.bulletin {
  background: #fff;
  height: 50px;
  line-height: 50px;
}
.bulletin .gt {
  float: left;
  color: #666666;
  width: 70px;
  height: 50px;
  line-height: 50px;
}
.bulletin a {
  color: #666666;
}
.bulletin a:hover {
  color: #ff6639;
}
.bulletin .bulletin_box {
  float: left;
  margin-left: 13px;
  font-size: 12px;
  width: 876px;
  height: 50px;
  overflow: hidden;
}
.bulletin .bulletin_box li {
  height: 50px;
}
.bulletin .bulletin_box em {
  float: right;
  font-style: normal;
}
.bulletin .more {
  margin-left: 25px;
  float: left;
  font-size: 12px;
}
.bulletin .more a {
  color: #666666;
  background: url(../images/jt1.png) no-repeat center right;
  padding-right: 22px;
}
.bulletin .more a:hover {
  color: #7485de;
  background: url(../images/jt2.png) no-repeat center right;
}
.bulletin .more img {
  vertical-align: middle;
}
.bulletin .control {
  float: right;
  width: 43px;
}
.bulletin .control div {
  background: url(../images/ico_set.png) -216px 0;
  height: 21px;
  cursor: pointer;
}
.bulletin .control #but_down {
  height: 18px;
  background-position: -216px -21px;
}
.bulletin .control #but_down:hover {
  background-position: -259px -21px;
}
.bulletin .control #but_up:hover {
  background-position: -259px 0;
}
.dis_items {
  background: #fff;
  padding: 28px 0;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  float: left;
  border-top: 1px solid #ededed;
}
.dis_items li {
  height: 60px;
  width: 250px;
  margin-left: 24px;
  margin-top: -6px;
  display: inline-block;
  float: left;
  border-right: 1px solid #ededed;
}
.dis_items li .imgs {
  float: left;
  margin-right: 8px;
  margin-top: 9px;
  display: inline-block;
  position: relative;
}
.dis_items li .imgs span {
  display: inline-block;
}
.dis_items li .imgs .ico {
  width: 95px;
  height: 54px;
}
.dis_items li .imgs:hover .quan {
  animation: quan 2s  both  infinite  linear;
  -ms-animation: quan 2s  both  infinite  linear;
  -webkit-animation: quan 2s  both  infinite  linear;
  -o-animation: quan 2s  both  infinite  linear;
  -moz-animation: quan 2s  both  infinite  linear;
}
.dis_items li a {
  line-height: 20px;
  font-size: 16px;
  color: #333333;
  font-weight: normal;
}
.dis_items li a:hover {
  color: #ff6639;
}
.dis_items li p {
  line-height: 18px;
  font-size: 12px;
}
.transactions {
  float: left;
  background: #fff;
  width: 100%;
  display: inline-block;
  line-height: 65px;
  position: relative;
}
.transactions ul {
  width: 92%;
  float: left;
}
.transactions li {
  float: left;
  width: 25%;
  text-align: center;
}
.transactions li em {
  color: #ff6639;
  font-size: 18px;
  font-family: arial;
}
.transactions li em i {
  font-size: 14px;
  font-family: "microsoft yahei";
}
.transactions img {
  vertical-align: middle;
}
.transactions a {
  position: absolute;
  right: 10px;
  top: 0;
  color: #999999;
}
.transactions a:hover {
  color: #7485de;
}
.newbies {
  background: url(../images/newbies.png) left top #ffffff no-repeat;
  width: 1098px;
  border: 1px solid #7485de;
  float: left;
  margin-top: 25px;
}
.newbies .n-tit {
  float: left;
  width: 260px;
  height: 170px;
  border-right: 1px solid #EDEDED;
  background: url(../images/n-tit.gif) no-repeat 177px 74px;
}
.newbies .n-tit p {
  margin-left: 36px;
  margin-top: 33px;
  float: left;
  color: #666666;
  line-height: 22px;
}
.newbies .n-tit p b {
  padding-bottom: 10px;
  color: #ff6639;
  font-size: 22px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.newbies .n-main {
  float: left;
  padding-left: 32px;
  padding-top: 26px;
  width: 805px;
}
.newbies .n-main .t {
  width: 100%;
  color: #333333;
  font-size: 18px;
}
.newbies .n-main .t span {
  margin-left: 12px;
  border: 1px solid #ffdeab;
  font-size: 12px;
  color: #e88b06;
  background: #fffbf0;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 16px;
  line-height: 16px;
  padding: 0 6px;
  vertical-align: middle;
}
.newbies .n-main .t a {
  float: right;
  color: #999;
  font-size: 14px;
  margin-right: 60px;
}
.newbies .n-main .data {
  width: 600px;
  float: left;
}
.newbies .n-main .data span {
  width: 25%;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  float: left;
  line-height: 36px;
  padding-top: 15px;
  font-size: 12px;
}
.newbies .n-main .data span p {
  color: #333333;
  font-size: 20px;
}
.newbies .n-main .data span p em {
  font-family: arial;
}
.newbies .n-main .process {
  width: 105px;
  margin-left: 16px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.newbies .n-main .process .page {
  width: 70px;
  height: 4px;
  background: #e4e4e4;
  vertical-align: middle;
  margin-top: 12px;
  overflow: hidden;
  float: left;
}
.newbies .n-main .process .page div {
  float: left;
  background: #ff6639;
  height: 4px;
  display: inline-block;
  width: 0;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.newbies .n-main .process em {
  float: right;
  font-size: 12px;
}
.newbies .n-main .btnbox {
  width: 100px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-top: 12px;
  margin-left: 40px;
}
.product {
  float: left;
  width: 100%;
}
.product .prbox {
  float: left;
  width: 100%;
  margin-top: 25px;
}
.product .prbox .p-tit {
  float: left;
  width: 100%;
  background: #fb7073;
  height: 70px;
  line-height: 70px;
  color: #fff;
}
.product .prbox .p-tit h2 {
  font-size: 22px;
  margin: 0 40px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.product .prbox .p-tit p {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.product .prbox .p-tit a {
  float: right;
  margin-right: 40px;
  color: #fff;
}
.product .prbox .p-list {
  width: 25%;
  height: 295;
  border-left: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  float: left;
  background: #fff;
}
.product .prbox .p-list:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0 10px #9aa1a8;
  -moz-box-shadow: 0 0 10px #9aa1a8;
  box-shadow: 0 0 10px #9aa1a8;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.product .prbox .p-list .tit {
  color: #333333;
  font-size: 18px;
}
.product .prbox .p-list .tit a {
  float: right;
  color: #999999;
  font-size: 14px;
}
.product .prbox .p-list .tit a:hover {
  color: #7485DE;
}
.product .prbox .p-list .tit .ico2 {
  float: right;
  margin-top: 10px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border: 1px solid #7485de;
  color: #7485de;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.product .prbox .p-list .bd {
  width: 100%;
  white-space: normal nowrap;
}
.product .prbox .p-list .bd a {
  color: #333333;
  margin-right: 10px;
}
.product .prbox .p-list .bd a:hover {
  color: #7485DE;
}
.product .prbox .p-list .bd .ico1 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #7485de;
  border: 1px solid #7485de;
  color: #fff;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.product .prbox .p-list .bd .ico2 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border: 1px solid #7485de;
  color: #7485de;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.product .prbox .p-list .bd .ico3 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border: 1px solid #ff6639;
  color: #ff6639;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.product .prbox .p-list .kt {
  font-size: 12px;
  color: #666666;
  line-height: 20px;
}
.product .prbox .p-list .ms {
  width: 225px;
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product .prbox .p-list .date {
  float: left;
  width: 94px;
  margin-top: 16px;
  font-size: 12px;
  position: relative;
}
.product .prbox .p-list .date p {
  font-size: 20px;
  color: #333333;
  line-height: 36px;
  height: 36px;
  overflow: hidden;
}
.product .prbox .p-list .date p em {
  font-family: arial;
}
.product .prbox .p-list .date .redpacket {
  display: none;
  background: url(../images/icored.png);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50px;
  bottom: 33px;
}
.product .prbox .p-list .date .redpacket .redtxt {
  display: none;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.product .prbox .p-list .date .redpacket:hover .redtxt {
  display: block;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  position: absolute;
  left: -7px;
  top: -17px;
  width: 60px;
  margin-left: 12px;
  border: 1px solid #ff1739;
  font-size: 12px;
  color: #ff1739;
  background: #fff;
  height: 16px;
  line-height: 16px;
  text-align: center;
}
.product .prbox .p-list .btnbox {
  float: right;
  margin-top: 12px;
  text-align: right;
  width: 120px;
}
.product .prbox .p-list .btnbox a {
  width: 105px;
}
.product .prbox .p-list .btnbox p {
  font-size: 12px;
  text-align: center;
  margin-right: -12px;
}
.product .prbox .p-list .btnbox .process {
  width: 105px;
  margin-left: 16px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.product .prbox .p-list .btnbox .process .page {
  width: 70px;
  height: 4px;
  background: #e4e4e4;
  vertical-align: middle;
  margin-top: 12px;
  overflow: hidden;
  float: left;
}
.product .prbox .p-list .btnbox .process .page div {
  float: left;
  background: #ff6639;
  height: 4px;
  display: inline-block;
  width: 0;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.product .prbox .p-list .btnbox .process em {
  float: right;
  font-size: 12px;
}
.product .prbox .p-list .btnbox.pjb {
  width: auto;
  text-align: right;
}
.product .lc .p-list {
  height: 208px;
}
.product .lc .p-list .btnbox p {
  margin: 0;
}
.product .sxy .p-list {
  height: auto;
}
.product .sxy .p-list .items {
  border-top: 1px solid #EDEDED;
}
.product .sxy .items {
  float: left;
  padding-bottom: 10px;
  padding-top: 0;
}
.product .sxy .items .btnbox p {
  margin: 0;
}
.product .qh .p-tit {
  background: url(../images/qh/qh.jpg);
  height: 170px;
}
.product .qh .p-tit a {
  color: #7485de;
}
.product .qh .p-list {
  height: 145px;
}
.product .qh .p-list .rate {
  position: relative;
  width: 160px;
}
.product .qh .qhico {
  position: absolute;
  left: 58px;
  top: 10px;
  background: url(../images/qh/qhico.gif);
  width: 78px;
  height: 17px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.tory {
  width: 100%;
  background: #fff;
  margin-top: 20px;
  float: left;
  padding: 18px 0;
}
.tory .torymain {
  margin-left: 30px;
  width: 520px;
  float: left;
}
.tory .torymain .hit {
  float: left;
  background: url(../images/tory.gif);
  width: 159px;
  height: 232px;
  margin-right: 27px;
}
.tory .torymain .hit p {
  width: 108px;
  margin: 80px 26px 0;
  line-height: 22px;
  color: #fff;
}
.tory .torymain .torytxt {
  width: 300px;
  float: left;
}
.tory .torymain .torytxt .bd {
  border-bottom: 1px solid #EDEDED;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  color: #333333;
}
.tory .torymain .torytxt .bd span {
  float: left;
}
.tory .torymain .torytxt .bd a {
  float: right;
  color: #999999;
  font-size: 12px;
}
.tory .torymain .torytxt .bd a:hover {
  color: #7485DE;
}
.tory .torymain .torytxt ul {
  width: 100%;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-top: 15px;
  float: left;
}
.tory .torymain .torytxt ul li {
  line-height: 30px;
  width: 100%;
  font-size: 12px;
  float: left;
}
.tory .torymain .torytxt ul li a {
  color: #666666;
  float: left;
}
.tory .torymain .torytxt ul li a:hover {
  color: #ff6639;
}
.tory .torymain .torytxt ul li span {
  float: right;
}
.partner {
  float: left;
  background: #fff;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
  padding-bottom: 28px;
}
.partner .bd {
  height: 72px;
  line-height: 72px;
  width: 100%;
  display: inline-block;
}
.partner .bd span {
  float: left;
  font-size: 16px;
  color: #383e43;
}
.partner .bd .control {
  float: right;
  margin-top: 29px;
  width: 51px;
  height: 24px;
}
.partner .bd .control div {
  background: url(../images/ico_set.png);
  width: 25px;
  height: 24px;
  cursor: pointer;
}
.partner .bd .control .but_left {
  background-position: -216px -48px;
  width: 26px;
  float: left;
}
.partner .bd .control .but_left:hover {
  background-position: -216px -72px;
}
.partner .bd .control .but_right {
  background-position: -242px -48px;
  float: right;
}
.partner .bd .control .but_right:hover {
  background-position: -242px -72px;
}
.partner .partnerbox {
  width: 100%;
  display: inline-block;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.partner .partnerbox .ScrCont {
  width: 100000000px;
}
.partner .partnerbox ul {
  float: left;
}
.partner .partnerbox li {
  width: 183px;
  float: left;
  text-align: center;
}
.rate {
  float: left;
  width: 125px;
  margin-top: 6px;
  font-size: 12px;
}
.rate:hover .quan img {
  margin-left: -46px;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.rate img {
  float: left;
  margin-left: 0;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.rate .quan {
  width: 46px;
  height: 46px;
  background: url(../images/ratebg.png) no-repeat;
  overflow: hidden;
  text-align: center;
}
.rate em {
  font-size: 12px;
  font-family: arial;
  line-height: 46px;
  color: #ff6639;
}
.p-tit {
  float: left;
  width: 100%;
  background: #fb7073;
  height: 70px;
  line-height: 70px;
  color: #fff;
}
.p-tit h2 {
  font-size: 22px;
  margin: 0 40px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.p-tit p {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.p-tit a {
  float: right;
  margin-right: 40px;
  color: #fff;
}
.p-tit span {
  float: right;
  margin-right: 40px;
}
.p-tit span u {
  color: #fff600;
}
.bd {
  width: 100%;
  white-space: normal nowrap;
}
.bd a {
  color: #333333;
  margin-right: 10px;
}
.bd a:hover {
  color: #7485DE;
}
.bd .ico1 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #7485de;
  border: 1px solid #7485de;
  color: #fff;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.bd .ico2 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border: 1px solid #7485de;
  color: #7485de;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.bd .ico3 {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: #fff;
  border: 1px solid #ff6639;
  color: #ff6639;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  padding: 0 5px;
  margin-left: 5px;
}
.smart-list {
  width: 274px;
  height: 295px;
  border-left: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  float: left;
  background: #fff;
  text-align: center;
}
.smart-list:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0 10px #9aa1a8;
  -moz-box-shadow: 0 0 10px #9aa1a8;
  box-shadow: 0 0 10px #9aa1a8;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.smart-list .tit {
  border-bottom: 1px solid #EDEDED;
  width: 100%;
  position: relative;
  text-align: center;
  height: 44px;
  line-height: 44px;
  font-size: 20px;
  color: #333;
}
.smart-list .tit i {
  background: url(../images/jt.jpg);
  width: 9px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -4.5px;
  bottom: -6px;
}
.smart-list .rate {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
  width: 100%;
  float: none;
  line-height: 20px;
}
.smart-list .rate .quan {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.smart-list .kt {
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}
.smart-list .kt p {
  color: #333;
  font-size: 20px;
}
.smart-list .btn {
  width: 100px;
  height: 36px;
  line-height: 36px;
  margin-top: 20px;
}
.money-list {
  width: 1060px;
  border-bottom: 1px solid #EDEDED;
  float: left;
  background: #fff;
  padding: 20px 0 12px 40px;
}
.money-list:hover {
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 0 10px #9aa1a8;
  -moz-box-shadow: 0 0 10px #9aa1a8;
  box-shadow: 0 0 10px #9aa1a8;
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}
.money-list .bd {
  padding-bottom: 18px;
}
.money-list .date {
  float: left;
  font-size: 12px;
  color: #666;
  width: 298.66666667px;
}
.money-list .date p {
  color: #333;
  font-size: 18px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
}
.money-list .date p em {
  font-family: arial;
  font-size: 20px;
}
.money-list .rate {
  float: left;
  font-size: 12px;
  color: #666;
  width: 298.66666667px;
  margin-top: -6px;
}
.money-list .rate .quan {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-left: 20px;
}
.money-list .kt {
  float: left;
  font-size: 12px;
  color: #666;
  width: 298.66666667px;
}
.money-list .kt p {
  color: #333;
  font-size: 18px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-left: 20px;
}
.money-list .kt p em {
  font-family: arial;
  font-size: 20px;
}
.money-list .btnbox {
  float: right;
  width: 105px;
  margin-right: 40px;
  margin-top: -30px;
}
.money-list .btnbox a {
  width: 105px;
  height: 36px;
  line-height: 36px;
}
.money-list .btnbox p {
  font-size: 12px;
  width: 120px;
  margin-left: -5px;
  line-height: 22px;
}
.money-list .btnbox .process {
  width: 100%;
}
.money-list .btnbox .process .page {
  width: 70px;
  height: 4px;
  background: #e4e4e4;
  vertical-align: middle;
  margin-top: 12px;
  overflow: hidden;
  float: left;
}
.money-list .btnbox .process .page div {
  float: left;
  background: #ff6639;
  height: 4px;
  display: inline-block;
  width: 0;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}
.money-list .btnbox .process em {
  float: right;
  font-size: 12px;
}
